@import "./variable.less";


//常用字体配置
.font-xs{
  font-size: @font_xs;
  line-height: @line_height_xs;
}

.font-s{
  font-size: @font_s;
  line-height: @line_height_s;
}

.font-m{
  font-size: @font_m;
  line-height: @line_height_m;
}

.font-l{
  font-size: @font_l;
  line-height: @line_height_l;
}

.font-xl{
  font-size: @font_xl;
  line-height: @line_height_xl;
}

.font-xxl{
  font-size: @font_xxl;
  line-height: @line_height_xxl;
}



//常用的flex布局

.flex-row-centerxy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-centerx{
  display: flex;
  justify-content: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-col-centerxy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-centerx{
  display: flex;
  flex-direction: column;
  align-items: center;
}


