//字体定义规范
@font_xs:16px;
@font_s:20px;
@font_m:24px;
@font_l:28px;
@font_xl:32px;
@font_xxl:36px;

//字体定义规范
@line_height_xs:(16*1.2)px;
@line_height_s:(20*1.2)px;
@line_height_m:(24*1.2)px;
@line_height_l:(28*1.2)px;
@line_height_xl:(32*1.2)px;
@line_height_xxl:(36*1.2)px;